################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Oyang.Identity/Oyang.Identity.ApplicationCore/bin
/Oyang.Identity/Oyang.Identity.ApplicationCore/obj
/Oyang.Identity/Oyang.Identity.Infrastructure/bin
/Oyang.Identity/Oyang.Identity.Infrastructure/obj
/Oyang.Identity/Oyang.Identity.WebApi/bin
/Oyang.Identity/Oyang.Identity.WebApi/obj
